.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header{
  font-size: calc(2px + 2vmin);
  text-align: center;
  color: #111111;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
