.Element{
  z-index: 1;
  color: #FDFFEA;
  padding: 20px;
  width: 20px;
  height: 20px;
  align-items: center;
  border:2px solid #FDFFEA;
}

.Element-atomic{
  font-size: 10px;
  color: #FDFFEA;
  vertical-align: top;
  text-align: left;
  position: relative;
  left: -10px;
  top: -10px;
}

.Element-symbol{
  color: #FDFFEA;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  margin-top: -10px;
}
