@import url('https://fonts.googleapis.com/css?family=Archivo|Montserrat');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1300px;
  overflow-x: visible;
	font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3{
  text-align: center;
  color: white;
  font-size: 46px;
}
