.Table{
  display: grid;
  grid-gap: 3px 3px;
  grid-template-columns: auto repeat(auto-fill, auto);
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 0px;
}

.Table-details{
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 60px;
  bottom: 150px;
  width: 100%;
}

.Table-selector{
  text-align: left;
  color: white;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 5px;
  position: absolute;
  bottom: -50px;
}
