.Table{
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: auto repeat(auto-fill, auto);
  justify-content: center;
  justify-items: center;
  padding-top: 60px
}

.Table-footer{
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: 70px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 10px;
}
